<!DOCTYPE html>
<html lang="<%= locale %>">
	<head>

		<!-- Basic Page Needs
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8">
		<title>孙洋</title>
		<meta name="description" content="Up to no good.">
		<meta name="author" content="Jonathan Sun">
		<meta name="theme-color" content="#000000">

		<!-- Mobile Specific Metas
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


		<link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

		<link rel="manifest" href="%PUBLIC_URL%/manifest.json">
		<link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

		<!-- Android
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="manifest" href="<%= PUBLIC_URL %>/manifest.json">

		<!-- Favicon ... use generator?
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<% for (var icon of icons) { %>
		<link rel="shortcut icon" href="<%= PUBLIC_URL %>/favicon.ico">
		<% } %>

		<!-- Custom CSS
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<% for (var stylesheet of stylesheets) { %>
		<link rel="stylesheet" href="<%= stylesheet.src %>" integrity="<%= stylesheet.integrity %>" crossorigin="<%= crossOrigin %>" />
		<% } %>

	</head>
	<body>

		<!-- Noscript message
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<noscript>
			Please enable JavaScript.
		</noscript>

		<!-- Application mount node maybe 'content' with random string?
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div id="root"></div>

		<!-- Runtime Manifest
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script><%= runtimeManifest %></script>

		<!-- Chunk Manifest
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script><%= chunkManifest %></script>

		<!-- Application Preloaded State TODO config this
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<script>window.__PRELOADED_STATE__ = <%= preloadedState %></script>

		<!-- Application scripts
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<% for (var script of files.scripts) { %>
		<script src="<%= script.src %>" integrity="<%= script.integrity %>" crossorigin="<%= crossOrigin %>"></script>
		<% } %>


		<% for (var script of inlinedScripts) { %>
		<script><%= script %></script>
		<% } %>

		<% for (var script of scriptFiles) { %>
		<script src="<%= script.src %>" integrity="<%= script.integrity %>" crossorigin="<%= crossOrigin %>"></script>
		<% } %>

	</body>
</html>
